{% extends 'store/base.html' %}
{% block content %}
<div class="content-section">
    <h4>About Us</h4>
    <hr>
    <h7>Watch the video below, to know how to use Fipple!!</h7>
    <br>
    <br>
        <div class="col-md-6 mx-auto">
          <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
          </div>
          <br>
          <br>
          <br>
        </div>
</div>
{% include "store/footer.html" %}
{% endblock content %}
