{% load static %}
<footer class="page-footer">
  <div class="container text-center">
    <ul class="list-inline">
        <li class="list-inline-item ml-10 mr-5" ><a href="{% url 'intro_home' %}">How to use Fipple?</a></li>
        <li class="list-inline-item mr-5" ><a href="{% url 'contact' %}">Contact Us</a></li>
        <li class="list-inline-item mr-5 " ><a href="https://www.instagram.com/the_fipple/?hl=en">Instagram</a></li>
        <li class="list-inline-item mr-5 " ><a href="https://www.youtube.com/channel/UCbzTBqhzRsxr75Gnnnbvc0Q">Youtube</a></li>
    </ul>
  </div>
  <br>
  <div class="footer-copyright text-center">
    <div class="container">
    © 2020 Fipple Corp
    </div>
  </div>
</footer>
